.service_area {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background-color: #f8f9ff;
}
.service_areaContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 125px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}
.headArea {
  margin-bottom: 50px;
  text-align: center;
  width: 50%;
  padding: 0 50px;
}
.headArea .site-title-tagline {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: #896eff;
  position: relative;
}
.headArea .site-title-tagline::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  margin-right: 10px;
  margin-bottom: 5px;
  background: #896eff;
}
.headArea .site-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 48px;
  color: #1f2471;
  margin-top: 5px;
  margin-bottom: 0;
}
.headArea .site-title span {
  color: #896eff;
}
.heading-divider {
  display: inline-block;
  position: relative;
  height: 4px;
  background-color: #896eff;
  width: 90px;
  overflow: hidden;
}

.heading-divider::after {
  content: "";
  position: absolute;
  left: 0;
  top: -1.1px;
  height: 7px;
  width: 8px;
  background-color: #fff;
  -webkit-animation: heading-move 5s infinite linear;
  animation: heading-move 5s infinite linear;
}

@-webkit-keyframes heading-move {
  0% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(85px);
  }
  100% {
    transform: translateX(-1px);
  }
}
@keyframes heading-move {
  0% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(85px);
  }
  100% {
    transform: translateX(-1px);
  }
}
.headArea p {
  font-size: 16px;
  padding: 0 16px;
}

.serviceContent .service_item {
  position: relative;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 350px;
}
.serviceContent .service_item:hover {
  transform: translateY(-10px);
}
.serviceContent .service_item .service-icon {
  width: 90px;
  height: 90px;
  line-height: 90px;
  background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
  text-align: center;
  border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
  margin-bottom: 25px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceContent .service_item .service-icon img {
  width: 45px;
}
.serviceContent .service_item:hover .service-icon {
  border-radius: 50%;
}
.service-title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family-two);
  line-height: 1.2;
}

.service-title a {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1f2471;
  transition: var(--transition);
}
.service-title a:hover {
  color: #5f3bff;
}

.service_item p {
  padding-top: 10px;
}
.service-arrow {
  padding: 20px 0px;
}
.service-arrow .service-read-btn {
  font-weight: 500;
  color: #896eff;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
}
.service-arrow a.service-read-btn:hover {
  color: #1f2471;
}
@media screen and (min-width: 1115px) {
  .serviceContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 1200px;
    height: 100%;
    position: relative;
  }
}
@media screen and (max-width: 1115px) {
  .serviceContent {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .headArea {
    width: 75%;
  }
  .service_areaContent {
    padding: 0 35px;
  }
}
@media screen and (max-width: 800px) {
  .serviceContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .headArea {
    width: 85%;
  }
}
@media screen and (max-width: 560px) {
  .serviceContent {
    grid-template-columns: 1fr;
  }
  .headArea {
    width: 100%;
    padding: 0;
  }
  .serviceContent .service_item {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 360px) {
  .service_areaContent {
    padding: 0 12px;
  }
}
